<div class="container">
  <h1 style="text-align: center; padding: 20px">RANDOM JOKES</h1>
  <div class="row">
    <div class="col-md-9">
      <div class="list-group">
        <a
          *ngFor="let joke of jokes"
          class="list-group-item list-group-item-action animate__animate animate__bounce animate__fadeIn"
        >
          <strong>{{ joke.type }}: </strong>{{ joke.setup }}
          <button
            (click)="showPunchline(joke.punchline, joke.setup)"
            class="btn btn-success"
            style="float: right"
          >
            PUNCHLINE
          </button>
        </a>
      </div>
    </div>

    <div class="col-md-3" style="border: 2px solid green">
      <h3>Punchline</h3>
      <hr />
      <div class="list-group" *ngIf="punchline">
        <div class="list-group-item" style="border: none">
          <strong>{{ setup }}</strong>
        </div>
        <div class="list-group-item" style="border: none">
          {{ punchline }}
        </div>
      </div>
    </div>
  </div>
</div>
